
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

section {
  background-color: black;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
}

ul {
  color: #fff;
}

p {
  color: #fff;
}

hr {
  color: red !important;
  height: 4px !important;
}

.redressed {
	font-family: 'Redressed', cursive;
}

.merriweather {
	font-family: 'Merriweather', serif;
}

.cc-navbar {
	background-color: rgba(0, 0, 0, 0.55);
	font-family: 'Merriweather', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
	padding-bottom: 20px;
	border-bottom-color: var(--bs-teal);
}

.banner,
.order-form {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banniere2.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 800px;
}

.order-form {
	height: 500px;
}

.banner .banner-desc h1 {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
}



.btn-order {
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}

.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	color: #fff;
	background-color: var(--bs-teal);
}

.card-group {
    display: flex;
    justify-content: space-between;
  }

  .card-img-top {
    max-height: 18rem;
    object-fit: cover;
  }

  .card-img-top1 {
    max-height: 14.5rem;
    object-fit: cover;
  }

  .card-img-top2 {
    max-height: 17.5rem;
    object-fit: cover;
  }

  .card-img-top3 {
    max-height: 16.5rem;
    object-fit: cover;
  }

  .card-img-top4 {
    max-height: 11.5rem;
    object-fit: cover;
  }

  .card {
    text-align: center;
  }

  .card-text {
    font-size: 12px;
    line-height: 1.2;
    max-height: 3.6rem;
    overflow: hidden;
  }

.text-red {
    color: red;
}

.reseau {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relatstyleive;
  display: flex;
  justify-content: space-around;
  color: #fff;
  height: 100px;
  left: 0px;
}

a {
  text-decoration: none;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  color: #fff;
}